@for $i from 0 through 1200 {
  .max-w-#{$i} {
    max-width: #{$i}px;
  }
  .wd-#{$i} {
    width: #{$i}px;
  }
  .hg-#{$i} {
    height: #{$i}px;
  }
}

@for $i from 0 through 20 {
  .mr-#{$i}-px {
    margin-right: #{$i}px !important;
  }
}


@for $i from 0 through 10 {
  .font-w-#{$i}{
    font-weight: #{$i*100};
  }
}

@each $z in (14 15 16 17 22 25 30){
  .font-s-#{$z} {
    font-size: #{$z}px;
  }
}